.communityWidget {
  display: flex;
  align-items: center;
  flex-flow: row;
  padding: 16px;
  border-radius: 16px;
  background: var(--background-transparent-color03);
  gap: 16px;
}

.infoWrapper {
  display: flex;
  flex-flow: column;
  margin-right: auto;

  .tokenWrapper {
    display: flex;
    align-items: center;
    flex-flow: row;
    gap: 4px;

    .sum {
      font-size: 16px;
      font-weight: 800;
      line-height: 20px;
    }

    .coin {
      width: 20px;
      height: auto;
    }
  }
}




