@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --font-termina400: 'Termina Test Regular', 'Arial';
  --font-termina600: 'Termina Test Demi', 'Arial';
  --font-termina700: 'Termina Test Bold', 'Arial';

  --background-color: #121316;
  --background-transparent-color01: rgba(255, 255, 255, 0.1);
  --background-transparent-color02: rgba(255, 255, 255, 0.2);
  --background-transparent-color05: rgba(255, 255, 255, 0.5);
  --main-text-color: #fff;
  --loading-gradient-start: #FE6A26;
  --loading-gradient-end: #FFFC00;
  --btn-background: rgba(46, 74, 197, 1);

  background-color: #121316;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  max-width: 500px;
  margin: 0 auto;
}

body {
  color: var(--main-text-color);
  background: var(--background-color);
}

main {
  min-height: var(--tg-viewport-stable-height, 100vh);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  border: none;
  background: transparent;
  box-shadow: none;
}

button:active {
  transform: scale(0.9);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
