:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --font-termina: 'Termina Test Regular', 'Arial';
  --background-color: #121316;
  --main-text-color: #fff;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  max-width: 500px;
  height: var(--tg-viewport-stable-height, 100vh);
  margin: 0 auto;
}

body {
  color: rgb(var(--main-text-color));
  background: rgb(var(--background-color));
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
