.main {
  display: flex;
  align-items: stretch;
  flex-flow: column;
  width: 100%;
  min-height: var(--tg-viewport-stable-height, 100vh);
  padding: 16px;
  background: linear-gradient(to bottom, var(--background-color) 35%, #67614e);
}

.loading {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100vh;
  padding: 16px;
}

.animatedGradient {
  width: 100%;
  height: 8px;
  margin-top: 48px;
  animation: gradient 2s infinite;
  animation-timing-function: linear;
  border-radius: 48px;
  background: repeating-linear-gradient(to right, var(--loading-gradient-start) 0%, var(--loading-gradient-end) 50%, var(--loading-gradient-start) 100%);
  background-position: 0 100%;
  background-size: 200% auto;
  animation-fill-mode: forwards;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}
