.energyWrapper {
  margin-top: auto;
}

.currentEnergy {
  font-family: var(--font-termina700);
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.05em;
}

.totalEnergyWrapper {
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.totalEnergy {
  font-weight: 900;
  color: rgba(255, 255, 255, 0.5);;
}

.currentEnergyText {
  font-weight: 600;
}

.energyScaleWrapper {
  height: 8px;
  margin-top: 8px;
  border-radius: 8px;
  background: var(--background-transparent-color01);
}

.energyScale {
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(to right, var(--loading-gradient-start) 0%, var(--loading-gradient-end) 100%);
}
