.energyWrapper {
  margin-top: 32px;
}

.currentEnergy {
  font-family: var(--font-termina700);
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.05em;
}

.totalEnergyWrapper {
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.totalEnergy {
  font-weight: 900;
}

.currentEnergyText {
  font-weight: 600;
}

.energyScale {
  height: 8px;
  margin-top: 8px;
  border-radius: 8px;
  background: linear-gradient(to right, var(--loading-gradient-start) 0%, var(--loading-gradient-end) 100%);
}
