.pageWrapper {
  padding: 16px;
  background-color: var(--background-color);
}

.title {
  font-family: var(--font-termina600);
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 4px;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-transparent-color05);
}
